<div class="login-register" style="background-image:url(assets/images/background/login-register.png);">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material" novalidate>
        <h3 class="box-title m-b-20">Sign Up</h3>
        <div class="form-group" [ngClass]="{ 'has-error':!registerForm.get('idno').valid && (registerForm.get('idno').dirty || registerForm.get('idno').touched) }">
            <div class="col-xs-12">
              <input type="idno" formControlName="idno" class="form-control" id="idno"  placeholder="Enter your idno">
              <div class="form-feedback" *ngIf="registerForm.get('idno').errors && (registerForm.get('idno').dirty || registerForm.get('idno').touched)">
                  <div *ngIf="registerForm.get('idno').hasError('required')">Idno is required</div>
              </div>
          </div>
      </div>
        <div class="form-group" [ngClass]="{ 'has-error':!registerForm.get('phone').valid && (registerForm.get('phone').dirty || registerForm.get('phone').touched) }">  
          <div class="col-xs-12">
              <input type="phone" formControlName="phone" class="form-control" id="phone" ariadescribedby="phoneHelp" placeholder="Enter phone">
              <div class="form-feedback" *ngIf="registerForm.get('phone').errors && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">
                  <div *ngIf="registerForm.get('phone').hasError('required')">phone is required</div>
                  <div *ngIf="registerForm.get('phone').hasError('minlength')">Phone must be 10 characters long</div>
              </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error':!registerForm.get('password').valid && (registerForm.get('password').dirty ||registerForm.get('password').touched) }">  
          <div class="col-xs-12">
              <input type="password" formControlName="password" name="password" class="form-control" id="password" placeholder="Password">
              <div class="form-feedback" *ngIf="registerForm.get('password').errors && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                    <p *ngIf="registerForm.get('password').hasError('required')">Password is required</p>
                    <p *ngIf="registerForm.get('password').hasError('minlength')">Password must be 6 characters long, we need another {{registerForm.get('password').errors['minlength'].requiredLength -
                        registerForm.get('password').errors['minlength'].actualLength}} characters</p>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-success p-t-0">
              <input id="checkbox-signup" type="checkbox" required="" class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> I agree to all <a href="javascript:void(0)">Terms</a></label>
            </div>
          </div>
        </div>
        <div class="form-group text-center p-b-20">
          <div class="col-xs-12">
              <div *ngIf="error" class="alert alert-danger" role="alert">Ops: {{ error }}</div>
              <button [disabled]="!registerForm.valid" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Register</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            Already have an account? <a class="text-info m-l-5" [routerLink]="['/auth/login']"><b>Sign In</b></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


