<!--<div class="row">
	<div class="col-md-12" *ngFor="let bal of balance">
		<div class="card">
			<div class="card mb-0">
				<div class="card-body" >
					<p class="mb-0">
						Product Type: {{ bal.product}}
					<br>
						Data Bundle Type: {{ bal.bundle}}
					<br>
					    Bundle Balance: {{ bal.balance}}
					</p>							
					
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row" *ngFor="let bundle of bundles"> 
	<div  class="col-sm-4" *ngFor="let product of bundle.products">
		<div class="card">
			<div class="card-body">				
				<div class="row pricing-plan">
					<div class="col no-padding">
						<div class="pricing-box">
							<div class="pricing-body b-l">
								<div class="pricing-header">
									<h2 class="text-center">{{ product.size }}</h2>
									<h4 class="text-center">KES {{ product.amount}}</h4>                                    
                                   <p class="uppercase">{{ product.duration}}</p>                                
								</div>
								<div class="price-table-content">
									<div class="price-row">{{ product.name}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	

	



