<div class="row">
	<div class="col-md-12">
		<div class="card-group">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<h3 class="">User Name: {{user?.firstname}} {{user?.lastname}}</h3>
							<h6 class="card-subtitle mb-0">Location:</h6><br>
							<h6 class="card-subtitle mb-0">User Since: 05 - 03 - 2019</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<h3 class="">Sim Card: Activated</h3>
							<h6 class="card-subtitle mb-0">Data Bundle: Active</h6><br>
							<h6 class="card-subtitle mb-0">Next Payment: 05 - 06 - 2019</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>









	